<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet"/>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <img class="logo" src="/img/logo-mercado-liebre.svg" alt="logo mercado liebre">
        <div class="buscador">Buscar productos, marcas</div>
        <div class="icono-buscador"><i class="fa fa-search"></i></div>
        <p class="forma-pago"><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de credito</p>
        <nav>
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="#">Crea tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="#">Ingresa <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
            </div>
    </header>
    <main>
        <section>
            <h3 class="titulares">Basado en tu ultima visita</h3>
            <article>
            <img src="/img/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
            <div class="product-info"><i class="fas fa-truck"></i>
            <p class="precios">$6.770</p>
            <p class="descuentos">40% off</p>
            <h4 class="descripciones">Cafetera Moulinex</h4>
            </div>
            </article>
            <article>
            <img src="/img/img-macbook-pro-2019.jpg" alt="Mackbook pro 2019">
            <div class="product-info"><i class="fas fa-truck"></i>
            <p class="precios">$230.000</p>
            <p class="descuentos">20% off</p>
            <h4 class="descripciones">MacBook Pro 2019</h4>
            </div>
            </article>
            <article>
            <img src="/img/img-samsung-galaxy-s10.jpg" alt="Samsung galaxy S10">
            <div class="product-info"><i class="fas fa-truck"></i>
            <p class="precios">$70.500</p>
            <p class="descuentos">10% off</p>
            <h4 class="descripciones">Samsung Galaxy S10</h4>
            </div>
            </article>
            <article>
            <img src="/img/img-tv-samsung-smart.jpg" alt="TvSamsung smart">
            <div class="product-info"><i class="fas fa-truck"></i>
            <p class="precios">$23.200</p>
            <p class="descuentos">5% off</p>
            <h4 class="descripciones">SmartTv Samsung 43"</h4>
            </div>
            </article>
        </section>
        <section>
            <h3 class="titulares">Ofertas</h3>
            <article>
            <img src="/img/img-cafetera-moulinex.jpg" alt="">
            <div class="product-info"><i class="fas fa-truck"></i>
            <p class="precios">$6.770</p>
            <p class="descuentos">40% off</p>
            <h4 class="descripciones">Cafetera Moulinex</h4>
            </div>
            </article>
            <article>
            <img src="/img/img-macbook-pro-2019.jpg" alt="">
            <div class="product-info"><i class="fas fa-truck"></i>
            <p class="precios">$230.000</p>
            <p class="descuentos">20% off</p>
            <h4 class="descripciones">MacBook Pro 2019</h4>
            </div>
            </article>
            <article>
            <img src="/img/img-samsung-galaxy-s10.jpg" alt="">
            <div class="product-info"><i class="fas fa-truck"></i>
            <p class="precios">$70.500</p>
            <p class="descuentos">10% off</p>
            <h4 class="descripciones">Samsung Galaxy S10</h4>
            </div>
            </article>
            <article>
            <img src="/img/img-tv-samsung-smart.jpg" alt="">
            <div class="product-info"><i class="fas fa-truck"></i>
            <p class="precios">$23.200</p>
            <p class="descuentos">5% off</p>
            <h4 class="descripciones">SmartTv Samsung 43"</h4>
            </div>
            </article>
        </section>
    </main>
    <footer>
        <section class="contenedor">
            <div class="contenido">
                <i class="fas fa-credit-card"></i>
            <h5>Paga con tarjeta o en efectivo</h5>
            <p>Con MercadoLiebreCash tenes cuotas sin</p>
            <p>interes con tarjeta o efectivo en puntos de</p>
            <p>pago. ¡Y siempre es seguro!</p>
            <i class="fas fa-gift"></i>
            <h5>Envío gratis desde $ 2.500</h5>
            <p>Solo por estar registrad@ en Mercado Liebre</p>
            <p>tenés envíos gratis en miles de productos. Es</p>
            <p>>un beneficio de Mercado Puntos.</p>
            <i class="fas fa-user-shield"></i>
            <h5>Seguridad, de principio a fin</h5>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre</p>
            <p>no hay nada que no puedas hacer porque estás</p>
            <p>siempre protegid@.</p>
                <p id="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </div>
        </section>

    </footer>
</body>
</html>