<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
                <a href="/"></a><img class="logo" src="img/logo-mercado-liebre.svg" alt="Logo Mercado Libre">
            <form class="buscador">
                <div class="buscar">
                    <div class="input">Buscar</div>
                    <div class="icono-buscador"><i class="fa fa-search"></i></div>
                </div>
            </form>
            <p class="texto-header"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <div class="main-header-bottom-bar">
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
            <nav class="main-navbar">
                <ul class="left-navbar">
                    <li>
                        <a href="#">Ofertas</a>
                    </li>
                    <li>
                        <a href="#">Tiendas Oficiales</a>
                    </li>
                    <li>
                        <a href="#">Vender</a>
                    </li>
                    <li>
                        <a href="#">Ayuda</a>
                    </li>
                </ul>
                <ul class="right-navbar">
                    <li>
                        <a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a>
                    </li>
                    <li>
                        <a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a>
                    </li>
                    <li>
                        <a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <img class="banner-main" src="/img/img-home-banner.jpg" alt="Banner">
        <section>
            <h3 class="titulares">Basado en tu última visita</h3>
            <div class="productos">
                <article>
                    <div class="imagen-container">   
                    <img src="/img/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                    <span class="tooltip">VER DESCRIPCIÓN</span>
                    </div>
                    <div class="productos-caja">
                        <i class="fas fa-truck"></i>
                        <p class="precios">$6.770</p>
                        <p class="descuentos">40% OFF</p>
                        <h4 class="descripciones">Cafetera Moulinex</h4>
                    </div>
                </article>
                <article>
                    <div class="imagen-container">   
                    <img src="/img/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                    <span class="tooltip">VER DESCRIPCIÓN</span>
                </div>
                    <div class="productos-caja">
                        <i class="fas fa-truck"></i>
                        <p class="precios">$230.000</p>
                        <p class="descuentos">20% OFF</p>
                        <h4 class="descripciones">MacBook Pro 2019</h4>
                    </div>
                </article>
                <article>
                    <div class="imagen-container">   
                    <img src="/img/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                    <span class="tooltip">VER DESCRIPCIÓN</span>
                </div>
                    <div class="productos-caja">
                        <i class="fas fa-truck"></i>
                        <p class="precios">$70.500</p>
                        <p class="descuentos">10% OFF</p>
                        <h4 class="descripciones">Samsung Galaxy S10</h4>
                    </div>
                </article>
                <article>
                    <div class="imagen-container">   
                    <img src="/img/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43">
                    <span class="tooltip">VER DESCRIPCIÓN</span>
                </div>
                    <div class="productos-caja">
                        <i class="fas fa-truck"></i>
                        <p class="precios">$23.200</p>
                        <p class="descuentos">5% OFF</p>
                        <h4 class="descripciones">SmartTv Samsung 43"</h4>
                    </div>
                </article>
            </div>
        </section>
        <section>
            <h3 class="titulares">Ofertas</h3>
            <div class="productos">
                <article>
                    <div class="imagen-container">   
                    <img src="/img/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                    <span class="tooltip">VER DESCRIPCIÓN</span>
                </div>
                    <div class="productos-caja">
                        <i class="fas fa-truck"></i>
                        <p class="precios">$6.770</p>
                        <p class="descuentos">40% OFF</p>
                        <h4 class="descripciones">Cafetera Moulinex</h4>
                    </div>
                </article>
                <article>
                    <div class="imagen-container">   
                    <img src="/img/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                    <span class="tooltip">VER DESCRIPCIÓN</span>
                </div>
                    <div class="productos-caja">
                        <i class="fas fa-truck"></i>
                        <p class="precios">$230.000</p>
                        <p class="descuentos">20% OFF</p>
                        <h4 class="descripciones">MacBook Pro 2019</h4>
                    </div>
                </article>
                <article>
                    <div class="imagen-container">   
                    <img src="/img/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                    <span class="tooltip">VER DESCRIPCIÓN</span>
                </div>
                    <div class="productos-caja">
                        <i class="fas fa-truck"></i>
                        <p class="precios">$70.500</p>
                        <p class="descuentos">10% OFF</p>
                        <h4 class="descripciones">Samsung Galaxy S10</h4>
                    </div>
                </article>
                <article>
                    <div class="imagen-container">   
                    <img src="/img/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43">
                    <span class="tooltip">VER DESCRIPCIÓN</span>
                </div>
                    <div class="productos-caja">
                        <i class="fas fa-truck"></i>
                        <p class="precios">$23.200</p>
                        <p class="descuentos">5% OFF</p>
                        <h4 class="descripciones">SmartTv Samsung 43"</h4>
                    </div>
                </article>
            </div>
        </section>
    </main>
    <footer class="main-footer">
        <section class="tarjeta">
            <i class="fas fa-credit-card"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section class="envio">
            <i class="fas fa-gift"></i>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section class="seguridad">
            <i class="fas fa-user-shield"></i>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </section>
        <section class="container">
            <div class="centered-text">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </div>
        </section>
    </footer>
</body>
</html>