.reg-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0px;
    text-align: center;
}

.reg-form div{
    padding: 5px 0px;
}

.reg-form input{
    border: none;
    outline-color: var(--celeste);
    padding: 10px;
}

.reg-nac input{
    padding: 10px 39px;
}

.reg-form h4{
    padding-bottom: 5px;
}

.reg-form button{
    color: #fff;
    background-color: var(--celeste);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    transition: all 0.3s;
}

.reg-form button:hover{
    background-color: #0022AA;
}
.inputGroup {
    font-family: 'Roboto', sans-serif;
    margin: 0.1em 0 0.1em 0;
    max-width: 190px;
    position: relative;
    font-size: 14px;
  }
  
  .inputGroup input {
    font-size: 100%;
    padding: 0.4em;
    outline: none;
    border: 2px solid rgb(200, 200, 200);
    background-color: transparent;
    border-radius: 10px;
    width: 100%;
  }
  
  .inputGroup label {
    font-size: 100%;
    position: absolute;
    left: 0;
    padding: 0.4em;
    margin-left: 0.5em;
    pointer-events: none;
    transition: all 0.3s ease;
    color: rgb(127, 127, 127);
  }
  
  .inputGroup :is(input:focus, input:valid)~label {
    transform: translateY(-50%) scale(.9);
    margin: 0em;
    margin-left: 1.3em;
    padding: 0.4em;
    background-color: #e8e8e8;
  }
  
  .inputGroup :is(input:focus, input:valid) {
    border-color: rgb(230, 195, 0)
  }