:root{
    --amarillo: #EAC926;
    --azul: #03264C;
    --celeste: #1259c3;
    --gris-oscuro: #666;
    --gris-claro: #ebebeb;
    --verde: #39b54a;
}

*{
    margin: 0px;
    padding: 0px;
}

header{
    background-color: var(--amarillo);
}

.logo{
    width: 50%;
    padding: 10px;
}

.buscador{
    margin: 5px;
    padding: 5px;
    background-color: #fff;
    color: var(--gris-oscuro);
    border: 1px solid var(--gris-oscuro);
}

.icono-buscador i{
    margin-left: 10px;
    padding: 3px;
    background-color: var(--gris-claro);
    border: 1px solid var(--gris-oscuro);
    font-weight: bold;
    padding: 3px;
    border-radius: 5px;
}

.forma-pago{
    text-align: center;
}

header ul li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #000;
}

.burger-menu{
    text-align: center;
}

.burger-menu i{
    background-color: var(--celeste);
    color: #fff;
    font-size: 20px;
    border-radius: 5px;
    padding: 12px;
    margin: 10px 0 20px 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--gris-claro);
}

main{
    width: 90vw;
    margin: auto;
}

.product-info{
    border-top: 1px solid var(--gris-claro);
    width: 100%;
    padding: 15px;
}

article{
    margin-bottom: 10px;
    background-color: #fff;
}

article img{
    width: 100%;
}

h3.titulares{
    font-size: 24px;
}

p.precios{
    font-size: 18px;
}

p.descuentos{
    font-size: 16px;
}

h4.descripciones{
    font-size: 16px;
}

footer{
    padding: 40px 0 0 0;
    background-color: #fff;
}

.contenedor{
    display: flex;
    justify-content: center;
}

.contenido{
    display: flex;
    text-align: left;
    flex-direction: column;
    align-items: center;
}

.contenido h5{
    color: var(--gris-oscuro);
}

.contenido p{
    font-size: x-small;
}

#copyright{
    padding-top: 20px;
}

.contenido i{
    color: var(--celeste);
    padding: 20px 0 8px 0;
    font-size: 32px;
}
/* <i class="fa fa-search"></i>
<i class="fas fa-hand-holding-usd"></i>
<i class="far fa-id-card"></i>
<i class="fas fa-sign-in-alt"></i>
<i class="fas fa-shopping-basket"></i>
<i class="fa fa-bars burger"></i>
<i class="fas fa-credit-card"></i>
<i class="fas fa-gift"></i>
<i class="fas fa-user-shield"></i> */